<h1 style="color:white">Editing Task</h1>

<%= render 'form' %>

<%= link_to 'Show', @pin, :class => 'btn btn-mini btn-default' %> |
<%= link_to 'Back', pins_path, :class => 'btn btn-mini btn-info' %>
