<br><br>
<div class="jumbotron center">
	 <h1 style="color:white"><font face='Impact'>Welcome to STG </font></h1>
	 <h2 style="color:white"><font face='Tahoma'>Optimize your web development experience</font></h4>
	 <br>
<% if user_signed_in? %>
          
     <% else %>
     <p>
	 <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
     <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>
 	</p>
   	 <% end %>

</div>

   <!-- START THE FEATURETTES -->
   <br><br><br><br>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Creating. <span class="text-muted">Your Dreams.</span></h2>
      <p class="lead">Here at Software Technology Group we design everything necessary for you and your business to have a stunning online presence! Apps, graphics, databases, administrative tools, widgets, you name it! We create it.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://i1294.photobucket.com/albums/b604/taylorf4/bigdone_zpse1c4da7f.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://i1294.photobucket.com/albums/b604/taylorf4/Pamphlet1Student_zps74af3b9c.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading"> Analyzing. <span class="text-muted">Your Plan.</span></h2>
      <p class="lead">We work closely with you and your company to evaluate your specific needs and provide the best solution for your business to excel.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Applying. <span class="text-muted">Technology.</span></h2>
      <p class="lead">We keep up to date with the best technology and most sensible methods to deliver you the highest quality product possible.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="http://i1294.photobucket.com/albums/b604/taylorf4/logoblankbg_zps1d824b0f.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">


<!-- Carousel
================================================== -->
	<br>
	<h3 style="color:darkred"> <font face="Verdana">Our Clients: </font></h3>
	<br>
<div class="owl-carousel" style="opacity: 1; display: block;">
  <div class="item" style="width:770px">
                  <img src="http://i1294.photobucket.com/albums/b604/taylorf4/STGlogos2_zpsaadf9cf4.png" alt="Clients 1">
                </div>
  <div class="item" style="width:770px">
                  <img src="http://i1294.photobucket.com/albums/b604/taylorf4/STGlogos1_zps03140a40.png" alt="Clients 1">
                </div>
  <div class="item" style="width:770px">
                  <img src="http://i1294.photobucket.com/albums/b604/taylorf4/STGlogos3_zps9bfd6534.png" alt="Clients 1">
                </div>
   
  <div class="item" style="width:1015px">
                  <img src="http://i1294.photobucket.com/albums/b604/taylorf4/STGlogos4copy_zps7dcae767.png" alt="Clients 1">
                </div>
</div>
</br>
</br>

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 Software Technology Group, Inc. 
  </footer>

</div><!-- /.container -->