<div class="panel center panel-default; height: 400px; width: 1150px;"><div style="background-image: url(http://i1294.photobucket.com/albums/b604/taylorf4/bluelng_zpsd65b1aee.png); background-position: 50% 10%;
  background-repeat: no-repeat; height: 400px; width: 1140px; border: 1px solid white;">
<br><h1 style="color:black"><font face='Arial Black'><i>Contact us any time!</i></font></h1>


<font face='Tahoma'><h3 style="color:black">
<strong>Software Technology Group<br>
Utah Headquarters</strong></h3><br>
<h4>555 South 300 East<br>
Salt Lake City, Utah 84111<br>
phone 801.595.1000<br>
toll-free 888.595.1001<br>
fax 801.595.1080<br>
info@softwaretechnologygroup.com<br><br></h4></font>

</div>
</div>
