<div class="panel center panel-default">
<h3 style="color:red">Contact us any time</h3>

<h4 style="color:black">
Use the following information, or send a copy of your resume.<br><br></h4>

<h5 style="color:black">
<strong>Software Technology Group<br>
Utah Headquarters</strong><br>
555 South 300 East<br>
Salt Lake City, Utah 84111<br>
phone 801.595.1000<br>
toll-free 888.595.1001<br>
fax 801.595.1080<br>
info@softwaretechnologygroup.com<br><br></h5>

<h4 style="color:black">We welcome tours of our facilities.<br><br>
</p></h4>
</div>
