<div class="jumbotron">

	<h1>Welcome to my Software Technology Group progress tracker</h1>
	<p><%= link_to "Sign up", "#", class: "btn btn-success btn-lg" %> for an optimized development experience</p>
</div>

